name: Deploy to Hetzner

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploying to Server via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY_TROMPETTE }}
          script: |
            cd /var/www/courstrompette
            git pull origin master
            npm install
            npm run build
            pm2 restart courstrompette || pm2 start npm --name "courstrompette" -- start
